@import "../../sass-styles/variables";

.hero-container {
  margin: 0 auto;
  width: 100%;
  max-width: $container-max-width;
  height: 70vh;
  // border: 1px solid #ccc;
  background-image: url("../../assets/images/hero.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .hero-content-container {
    margin: 0 auto;
    width: inherit;
    // max-width: $container-max-width;
    height: inherit;

    .hero-image {
      border: 1px solid #ccc;
      // background-image: url("../../assets/images/pic1.png");
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      // position: relative;
      width: 100%;
      height: 400px;
    }
  }
}
