@import "../../sass-styles/variables";
@import "../../sass-styles/animations";

.hero-container {
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../assets/images/hero.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .hero-text-container {
    margin: 0 auto;
    padding: 0 10px;
    width: inherit;
    max-width: $container-max-width;
    height: auto;
    color: $mahogany;
    text-align: center;

    .heading {
      font-size: 40px;
      font-weight: 400;
      margin-bottom: 16px;
      letter-spacing: 0.75px;

      &-main {
        display: block;
        animation: moveInLeft 1s ease-out;
        -webkit-animation: moveInLeft 1s ease-out;
      }

      &-sub {
        display: block;
        animation: moveInRight 1s ease-out;
        -webkit-animation: moveInRight 1s ease-out;
      }
    }

    p {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 24px;
      animation: moveInBottom 1s ease-out;
      -webkit-animation: moveInBottom 1s ease-out;
    }
  }
}
