@import "../../sass-styles/variables";

.gallery-container {
  margin: 0 auto;
  padding: $container-all-sides-padding;
  width: 100%;
  max-width: 925px;
  height: auto;

  &.move-in-from-bottom-animation {
    animation: moveInBottom 2.5s ease-out;
    -webkit-animation: moveInBottom 2.5s ease-out;
  }

  .section-title {
    margin-bottom: 60px;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-align: center;
    color: $mahogany;
  }

  .gallery-grid-wrapper {
    display: flex;
    flex-direction: column;
  }
}

// @media screen and (min-width: 900px) {
//   .gallery-grid-wrapper {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }
