@import "../../sass-styles/variables";

.gallery-container {
  margin: 0 auto;
  padding: $container-all-sides-padding;
  width: 100%;
  max-width: $container-max-width;
  height: auto;

  .section-title {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.75px;
    text-align: center;
    color: $mahogany;
  }

  .gallery-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 425px));
    justify-content: center;
    grid-gap: 16px;
  }
}

// @media screen and (min-width: 900px) {
//   .gallery-grid-wrapper {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }
